body,html{
    scroll-behavior: smooth;
    color: #603B1B;
    background: #F6F3C4;
}

nav{
    color: #603B1B;
}

.jadwalTable{
    padding-inline: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

.bgTable{
    background-color: #7D4B22;
}

.cColumn{
    color:white;
}