body,html{
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    /* color: #603B1B;
    background: #F6F3C4; */
}

nav,#footer{
    color: #603B1B;
    background: #F6F3C4;
}

.tes {
    position: relative;
    text-align: center;
}

.center {
    position: absolute;
    margin-top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.imgJumbotron {
    width: 100%;
    height: auto;
    /* opacity: 0.5; */
    filter: opacity(50%);
}

.visiMisi{
    margin-left:90px;
    font-size: 130%;
    margin-right:90px;
}

.pastors{
    margin-bottom:85px; 
    font-size: 150%;
}

.jadwalTable{
    margin-left: 250px;
    margin-right: 250px;
}

.tiapTable{
    padding-top: 40px;
}

.bgTable{
    background-color: #7D4B22;
}

.jam{
    color: white;
}
.kantorTable{
    margin-bottom: 81px;
}

.tabelBawah{
    padding-bottom: 3px;
}
.bg-light{
    /* padding-top: 60px; */
}
.susunanDPH{
    margin-top: 40px;
    margin-left:30%; 
    margin-right:30%;
    margin-bottom: 60px;
}
.strukturDPH{
    margin-bottom: 40px;
}
.logoFooter{
    height:159.18px;
}
.sampingLogo{
    padding-top:30px;
}

@media screen and (max-width: 800px) {
    h2{
        font-size:medium;
        margin-left:1rem;
        margin-right:1rem;
    }
    .center {
        position: absolute;
        margin-top: -90%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* font-size: 9px; */
    }

    .visiMisi{
        margin-left:1rem;
        font-size: 90%;
        margin-right:1rem;
    }

    .pastors{
        font-size:90%;
    }

    .jadwalTable{
        padding-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: small;
    }

    .tiapTable{
        padding-top: 20px;
    }

    .jam{
        width:25%;
    }
    .jadwalKantor{
        margin-inline-start: 20%;
        margin-right: 20%; 
    }
    .tabelBawah{
        padding-bottom:0.5%;
    }
    .strukturDPH{
        width:300px;
        margin-bottom: 20px;
    }
    .susunanDPH{
        margin-top: 20px;
        margin-left:10%; 
        margin-right:10%;
        margin-bottom:30px;
    }
    .textFooter{
        font-size: small;
    }
    .foot{
        padding:10%;
    }
    .logoFooter{
        height:104.18px;
    }
    .sampingLogo{
        padding-top: 33px;
        font-size: 76%;
    }
}